doctype
html
	head
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
		meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0')
		meta(charset='utf-8')
		
		-
			var url    = '';
			var title  = '';
			var desc   = '';
			var imgurl = '';
			
		title=title
		meta(name='description'        content=desc)
		meta(property='og:url'         content=url)
		meta(property='og:title'       content=title)
		meta(property='og:description' content=desc)
		meta(property='og:site_name'   content=title)
		meta(property='og:image'       content=imgurl)
		
		
	body
		#wrapper
		script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js")
		script(src='https://code.jquery.com/jquery-3.0.0.min.js')
		script(src='assets/js/board.js')
		
